<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">CARLA</h1>
      <h2 class="project-tagline">Concepts in Action: Representation, Learning and Application</h2>
        <a href="https://conceptresearch.github.io/CARLA" class="btn">Home</a>
        <div class="dropdown">
          <button class="btn">People</button>
          <div class="dropdown-content">
            <a href="https://conceptresearch.github.io/CARLA/people/organizers" class="btn">Organizers</a>
            <a href="https://conceptresearch.github.io/CARLA/people/associated" class="btn">Associated</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn">Concept Research</button>
          <div class="dropdown-content">
            <a href="https://conceptresearch.github.io/CARLA/concept_research/literature" class="btn">Literature</a>
            <a href="https://conceptresearch.github.io/CARLA/concept_research/research_projects" class="btn">Research Projects</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn">CARLA Workshop</button>
          <div class="dropdown-content">
            <a href="https://conceptresearch.github.io/CARLA/carla_workshop/the_workshop_sweries" class="btn">The Workshop Series</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_workshop/CARLA_2018" class="btn">CARLA 2018</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_workshop/CARLA_2020" class="btn">CARLA 2020</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_workshop/CARLA_2021" class="btn">CARLA 2021</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn">CARLA Summer School</button>
          <div class="dropdown-content">
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/overview" class="btn">Overview</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/call_for_participation" class="btn">Call for Participation</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/preliminary_program" class="btn">Preliminary Program</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/venue" class="btn">Venue</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/participants" class="btn">Participants</a>
            <a href="https://conceptresearch.github.io/CARLA/carla_summer_school/video_recordings" class="btn">Video Recordings</a>
          </div>
        </div>
        <a href="https://conceptresearch.github.io/CARLA/contact" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
